# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Model files


# Jupyter/IPython
.ipynb_checkpoints/

# VSCode
.vscode/

# Streamlit cache
.streamlit/
